.AnecdotesTrainingsPage {
  padding: 20px;
  max-width: 1200px;
}
.languagesList {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}
@media screen and (min-width: 720px) {
  .languagesCoosesList {
    display: flex;
    justify-content: space-around;
  }
}
